*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Primary */
  --soft-red: #fe7766;
  --yellow: #fad400;
  --dark-desat-cyan: #25564b;
  --dark-blue: #19536b;
  --dark-moderate-cyan: #458c7e;

  /* Neutral */
  --very-dark-desat-blue: #24303e;
  --very-dark-grayish-blue: #5a636c;
  --dark-grayish-blue: #808397;
  --grayish-blue: #a7abae;
  --white: #ffffff;

  /* My own extra colors for extra things */
  --orange: #ffb700;
  --black: #000000;

  /* Fonts */
  --headings: 'Fraunces', serif;
  --body: 'Barlow', sans-serif;

  /* Transition timings and easing curves */
  --point_3: 0.3s ease-in-out;
}

html, body {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 425px) {

  section#splash {
    margin-bottom: -4px;
  }

  section#splash > nav {
    position: absolute;
    width: 100%;
    padding: 32px 24px 24px 24px;
    display: flex;
    justify-content: space-between;
  }

  section#splash > nav > button {
    background: none;
    border: none;
    padding: 0;
  }

  section#splash > nav > div#menu[open] + button {
    opacity: 0.5;
  }

  div#menu {
    position: absolute;
    top: 112px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - calc(24px * 2));
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    z-index: 1;
    display: flex;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }

  div#menu[open] {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }

  div#menu::before {
    content: ' ';
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-bottom: 24px solid white;
    position: absolute;
    top: -24px;
    right: 0px;
  }

  div#menu > a {
    color: var(--grayish-blue);
    margin: 16px;
    font-family: var(--body);
    font-size: 18px;
    text-decoration: none;
    transition:
      color 0.3s ease-in-out,
      background-color 0.3s ease-in-out;
  }

  div#menu > a:focus,
  div#menu > a:hover {
    color: var(--black);
  }

  div#menu > a:last-of-type {
    background-color: var(--yellow);
    color: var(--black);
    padding: 16px 24px;
    border-radius: calc(52px / 2);
    font-family: var(--headings);
    font-size: 16px;
    text-transform: uppercase;
  }

  div#menu > a:last-of-type:focus,
  div#menu > a:last-of-type:hover {
    background-color: var(--orange);
  }

  section#splash > header {
    position: absolute;
    top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section#splash > header > h1 {
    color: var(--white);
    font-family: var(--headings);
    font-size: 2.4rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin: 72px 0 52px 0;
  }

  section#about > div {
    padding: 62px 24px 64px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  section#about h2 {
    color: var(--very-dark-desat-blue);
    font-family: var(--headings);
    font-size: 32px;
    font-weight: 900;
    margin: 0;
  }

  section#about p {
    color: var(--dark-grayish-blue);
    font-family: var(--body);
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.13px;
    margin: 24px 0 32px 0;
  }

  section#about a {
    color: var(--very-dark-desat-blue);
    font-family: var(--headings);
    font-size: 15px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: 1px;
    position: relative;
  }

  section#about a::before {
    content: ' ';
    display: inline-block;
    width: 137px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    z-index: -1;
    opacity: 0.25;
    transition: opacity 0.3s ease-in-out;
  }

  section#about > div:first-of-type > a::before {
    background-color: var(--yellow);
  }

  section#about > div:last-of-type > a::before {
    background-color: var(--soft-red);
  }

  section#about > div:first-of-type > a:hover::before,
  section#about > div:first-of-type > a:focus::before,
  section#about > div:last-of-type > a:hover::before,
  section#about > div:last-of-type > a:focus::before {
    opacity: 1;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

}

@media screen and (min-width: 426px) {

  body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  section#splash > nav {
    position: absolute;
    width: 100%;
    padding: 36px 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  section#splash > nav > img {
    height: 33px;
  }

  section#splash > nav > button {
    display: none;
  }

  div#menu {
    width: 467px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 12px;
  }

  div#menu > a {
    color: var(--white);
    font-family: var(--body);
    font-size: 18px;
    text-decoration: none;
  }

  div#menu > a:last-child {
    background-color: var(--white);
    color: var(--black);
    font-family: var(--headings);
    font-weight: 600;
    padding: 19px 32px;
    border-radius: 28px;
    font-size: 15px;
    text-transform: uppercase;
    transition:
      background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;
  }

  div#menu > a:last-child:hover,
  div#menu > a:last-child:focus {
    background-color: hsla(0, 0%, 100%, 0.3);
    color: var(--white);
  }

  section#splash > header {
    position: absolute;
    top: 164px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  section#splash > header > h1 {
    color: var(--white);
    font-family: var(--headings);
    font-size: 56px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 9px;
    margin: 32px 0 93px 0;
  }

  section#splash > img {
    margin-bottom: -4px;
  }

  section#about {
    display: flex;
    flex-wrap: wrap;
  }

  section#about > div:first-of-type {
    order: 1;
  }

  section#about > img:first-of-type {
    order: 2;
  }

  section#about > img:last-of-type {
    order: 3;
  }

  section#about > div:last-of-type {
    order: 4;
  }

  section#about > * {
    width: 50vw;
  }

  section#about > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 445px
  }

  section#about > div {
    margin: 0 auto;
  }

  @media only screen
    and (min-width: 1440px)
    and (max-width: 1440px)
  {

    section#about > div:first-of-type {
      margin: 0 110px 0 auto;
    }

    section#about > div:last-of-type {
      margin: 0 auto 0 110px;
    }
  }

  section#about h2 {
    color: var(--very-dark-desat-blue);
    font-family: var(--headings);
    font-size: 40px;
    font-weight: 900;
    letter-spacing: -0.29px;
    margin: 0;
  }

  section#about p {
    color: var(--dark-grayish-blue);
    font-family: var(--body);
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.13px;
    margin: 32px 0 40px 0;
  }

  section#about a {
    position: relative;
    align-self: flex-start;
    color: var(--very-dark-desat-blue);
    font-family: var(--headings);
    font-size: 15px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: 1px;
    margin: 0 0 0 8px;
  }

  section#about a::before {
    content: ' ';
    display: inline-block;
    width: 137px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    z-index: -1;
    opacity: 0.25;
    transition: opacity 0.3s ease-in-out;
    margin: 0 0 0 2px;
  }

  section#about > div:first-of-type > a::before {
    background-color: var(--yellow);
  }

  section#about > div:last-of-type > a::before {
    background-color: var(--soft-red);
  }

  section#about > div:first-of-type > a:hover::before,
  section#about > div:first-of-type > a:focus::before,
  section#about > div:last-of-type > a:hover::before,
  section#about > div:last-of-type > a:focus::before {
    opacity: 1;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

}
